<footer>
    
    <div class="main-info">
        <h1 style="font-size: 40px;">언더 더 씨</h1><br>
        <h3 style="font-size: 26px;">쇼핑몰 정보</h3><br>
        <p><strong>상호명 </strong> 언더 더 씨 &nbsp;<strong>대표자명</strong> 우리 모두</p><br>
        <p><strong>사업장 주소 </strong> 서울특별시 중구 남대문로 120 그레이트 청계</p><br>
        <p><strong>대표 전화 </strong> 010-0000-0000 &nbsp;<strong>사업자 등록번호</strong> 000-00-00000</p><br>
        <p><strong>통신판매업 신고 </strong>제2024-프로젝트-00001호</p><br>
        
        <br>
        <a href="#">회사 소개</a>    
        <span>|</span>
        <a href="#">이용약관</a>    
        <span>|</span>
        <a href="#">개인정보처리방침</a>    
        <span>|</span>
        <a href="#">이용안내</a>    
        <br>
        
        
        <p style="color: lightgray;">Copyright &copy; <strong>Under the C</strong> All Rights Reserved. </p>
    </div>
    <div class="cs-info">
        <h3 style="font-size: 26px;">CS CENTER</h3><br>
        <p><strong>CS 전화번호 </strong> | 1234-5678</p><br>
        <p><strong>CS 운영시간 </strong> | 평일 08:00 ~ 17:00</p><br>
        <p><strong>CS 휴무일 </strong> | 주말, 공휴일 휴무</p><br>
        <p><strong>CS 이메일 </strong> | SeedProject@kh.com</p>
    </div>
    <div class="bank-info">
        <h3 style="font-size: 26px;">BANK INFO</h3><br>
        <p><strong>국민은행 </strong> | 1234-123-123456</p><br>
        <p><strong>신한은행 </strong> | 1234-123-123456</p><br>
        <p><strong>우리은행 </strong> | 1234-123-123456</p><br>
        <p><strong>농협은행 </strong> | 1234-123-123456</p>
    </div>
</footer>
  
  
<script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
</script>