<footer>
    
    <article>
        <h1 style="font-size: 40px;">언더 더 씨</h1><br>
        <h3 style="font-size: 24px;">쇼핑몰 정보</h3><br>
        <p><strong>상호명 </strong> 언더 더 씨 &nbsp;<strong>대표자명</strong> 우리 모두</p><br>
        <p><strong>사업장 주소 </strong> 서울특별시 중구 남대문로 120 그레이트 청계</p><br>
        <p><strong>대표 전화 </strong> 010-0000-0000 &nbsp;<strong>사업자 등록번호</strong> 000-00-00000</p><br>
        <p><strong>통신판매업 신고 </strong>제2024-프로젝트-00001호</p><br>
        
        <br>
        <a href="#">회사 소개</a>    
        <span>|</span>
        <a href="#">이용약관</a>    
        <span>|</span>
        <a href="#">개인정보처리방침</a>    
        <span>|</span>
        <a href="#">이용안내</a>    
        <br>
        
        
        <p style="color: lightgray;">Copyright &copy; <strong>Under the C</strong> All Rights Reserved. </p>
    </article>
</footer>
  
  
<script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
</script>