<header>

    <!-- 상단 녹색 부분 -->
    <!-- 1 -->
    <div></div>

    <!-- 2 -->
    <th:block th:unless="${session.loginMember}">
        <div id="searchLine-right">
            <a href="/member/login">로그인</a>
            <a href="/member/itemList">장바구니</a>
        </div>
    </th:block>

    <th:block th:if="${session.loginMember}">
        <div id="searchLine-right">
            <span th:text="|${session.loginMember.memberNickname}님 환영합니다|"></span>
            <a href="/member/logout">로그아웃</a>
            <a href="/member/myPage">마이페이지</a>
            <a href="/member/itemList">장바구니</a>
        </div>
    </th:block>

    <!-- 2 -> 3 -->
    <div>
        <!-- 공백 div -->
        <!-- <div></div> -->
        <!-- 검색창 라인 -->
        <div>
            <form action="#">
                <input type="text" placeholder="검색어를 입력해주세요">
                <button>검색</button>
            </form>
        </div>

        <!-- <div id="searchLine-right">
            <span>###님 환영합니다</span>
            <a href="/member/login">로그인</a>
            <a href="/member/logout">로그아웃</a>
            <a href="/member/myPage">마이페이지</a>
            <a href="/member/itemList">장바구니</a>
        </div> -->
    </div>
   
    <!-- 3 -> 4 -->
    <div style="margin-right: 200px;">
        <a href="/">
            <img src="/images/씨앗.png" alt="로고" class="logo-img">
        </a>
        <span>언더 더 씨</span>
    </div>
</header>

<div id="nav-top">
    <nav id="nav-bottom">
        <a href="#">쇼핑</a>
        <a href="#">자유 게시판</a>
        <a href="#">문의 게시판</a>
        <a href="#">팁과 노하우</a>
    </nav>
</div>