<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>언더 더 씨</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/mainPage/main-style.css">
    <link rel="icon" href="/images/씨앗.png">

</head>
<body>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    

    <main>
        <section class="content">
            <!-- 필터 부분 -->
            <div class="filter">
                <select id="sort" name="sort" onchange="selectBoxChange(this.value);">
                    <option value="0" selected>-- 정렬 --</option>
                    <option value="1">높은 가격순</option>
                    <option value="2">낮은 가격순</option>
                    <option value="3">종류별</option>
                    <option value="4">이름순</option>
                    <!-- <option>인기순</option> -->
                </select>
            </div>
            

        </section>
        <section class="content2">
            <th:block th:each="seed : ${seedList}" th:object="${seed}">
                <div class="allBox seed-item">
                    <a th:href="@{/seed/detail(seedNo=*{seedNo})}">
                        <div class="imgBox">
                            <th:block th:if="*{seedImgPath}">
                                <img th:src="*{seedImgPath}" class="seedImg">
                            </th:block>
                            <th:block th:unless="*{seedImgPath}">
                                <img src="/images/중비중 이미지.gif" class="seedImg">
                            </th:block>
                        </div>
                    </a>
                    <br>
                    <div class="select">
                        <div class="select-div">
                            <a class="select-a" th:text="*{seedName}">고수 씨앗</a>
                            <p class="select-p" th:text="*{seedPrice}">1900원</p>
                        </div>
                        <div class="select_second">
                            <div class="button_div">
                                <button id="leftBtn" class="leftBtn">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <span id="count" class="count">1</span>
                                <button id="rightBtn" class="rightBtn">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <div class="select-div">
                                <input type="hidden" class="seedNo" th:value="*{seedNo}">
                                <button id="cartAdd" class="cartAdd">담기</button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </th:block>
        </section>

    </main>

    <a href="#" class="upBtn"><i class="fa-regular fa-hand-point-up"></i></a>
    
    <th:block th:replace="~{common/images2}"></th:block>
    <th:block th:replace="~{common/footer}"></th:block>

    <script th:inline="javascript">

        const memberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 한 회원 번호";

    </script>

    <script src="/js/common/main.js"></script>
</body>
</html>