<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>언더 더 씨</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/mainPage/main-style.css">

</head>
<body>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    

    <main>
        <section class="content">
            <!-- 필터 부분 -->
            <div class="filter">
                <select>
                    <option selected>-- 정렬 --</option>
                    <option>높은 가격순</option>
                    <option>낮은 가격순</option>
                    <option>종류별</option>
                    <option>인기순</option>
                </select>
            </div>
            <!-- 상품 하드코딩 9종 (추후 시간 남으면 수정) -->
            <!-- 시간이 남을 경우 타임리프 반복으로 상품 정보 넣기 -->

        </section>
        <section class="content2">
            <th:block th:each="seed : ${seedList}" th:object="${seed}">
                <div class="allBox">
                    <div class="imgBox">
                        <img th:src="*{seedImgPath}" class="seedImg">
                    </div>
                    <br>
                    <div class="select">
                        <div>
                            <a th:text="*{seedName}">고수 씨앗</a>
                            <p th:text="*{seedPrice}">1900원</p>
                        </div>
                        <div>
                            <button id="cartAdd">담기</button>
                        </div>
                    </div>
                    
                </div>
                
            </th:block>
        </section>

    </main>
    
    <th:block th:replace="~{common/images2}"></th:block>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>