<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>

    <th:block th:replace="~{common/common}"></th:block>

    
</head>
<body>
    
    <!-- 화면 배치 -->
    <!-- 좌(공백) / 중앙(로고, 이름, 아이디찾기 폼) / 우(공백) -->

    <!-- 왼쪽 공백 -->
    <section class="content-searchId-1"></section>


    <!-- 중앙(로고, 이름, 아이디찾기 폼) -->
    <section class="content-searchId-2">
        <a href="/">
            <img src="/images/중성마녀.jpg" alt="메인 로고" id="homeLogo">
        </a>
        <th:text>언더 더 씨</th:text>

        
        <h1>아이디 찾기</h1>
        
        <form action="/member/searchId" method="POST" id="searchIdForm">
        
            <p>이메일 입력</p>
            <input type="email"
                    name="memberEmail">
            <br>
            <p>닉네임 입력</p>
            <input type="text"
                    name="memberNickname">

            <button>확인</button>
        </form>
    </section>
    

    <section class="content-searchId-3"></section>

</body>
</html>