<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>

    <link rel="stylesheet" href="/css/searchId.css">

    
</head>
<body>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header2}"></th:block>

    <main class="main">
    
        <div style="margin-right: 130px;" class="logo-line">
            <img src="/images/씨앗.png" alt="로고">
            <span>언더 더 씨</span>
        </div>

        <section class="find-form">

            <span class="find-id">아이디 찾기</span>

            <form action="#" class="search-id-form">
                <table class="table">
                    <tr>
                        <td name="memberEmail" class="email-input">이메일 입력</td>
                        <td> <input type="text"> </td>
                    </tr>
                    <tr>
                        <td name="memberNickname" class="nickname-input">닉네임 입력</td>
                        <td> <input type="text"> </td>
                        <td> <button>확인</button></td>
                    </tr>
                </table>
            </form>

        </section>

    </main>

    

    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>