<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="">

    <th:block th:replace="~{common/common2}"></th:block>
    <link rel="stylesheet" href="/css/header2/signup.css">

</head>
<body>

    <th:block th:replace="~{common/header2}"></th:block>

    <main>
        <section>
            <div class="logo-div">
                <!-- 로고, 이름 -->
                <a href="/">
                    <img src="/images/씨앗.png" alt="메인 로고" id="homeLogo">
                </a>
                <span>언더 더 씨</span>

            </div>
            <div class="input-div">
                <form>
                    <div>
                        <table>
                            <!-- 아이디 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>아이디</td>
                                <td>
                                    <input placeholder="아이디">
                                </td>
                            </tr>

                            <!-- 비밀번호 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>비밀번호</td>
                                <td>
                                    <input placeholder="비밀번호">
                                </td>
                            </tr>

                            <!-- 비밀번호 확인 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>비밀번호 확인</td>
                                <td>
                                    <input placeholder="비밀번호 확인">
                                </td>
                            </tr>

                            <!-- 닉네임 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>닉네임</td>
                                <td>
                                    <input placeholder="닉네임">
                                </td>
                            </tr>

                            <!-- 이메일 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>이메일</td>
                                <td>
                                    <input placeholder="이메일">
                                </td>
                            </tr>

                            <!-- 전화번호 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>연락처</td>
                                <td>
                                    <input placeholder="연락처">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        주소
                    </div>
                </form>
            </div>
        </section>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>