<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="">

    <th:block th:replace="~{common/common2}"></th:block>
    <link rel="stylesheet" href="/css/header2/signup.css">

</head>
<body>

    <th:block th:replace="~{common/header2}"></th:block>

    <main>
        <section>
            <div class="logo-div">
                <!-- 로고, 이름 -->
                <a href="/">
                    <img src="/images/씨앗.png" alt="메인 로고" id="homeLogo">
                </a>
                <h3>언더 더 씨 가입하기</h3>

            </div>
            <form>
                <div class="input-div">
                    <div>
                        <table class="required-container">
                            <!-- 아이디 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>아이디</td>
                                <td>
                                    <input 
                                    placeholder="아이디">
                                </td>
                            </tr>

                            <!-- 비밀번호 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>비밀번호</td>
                                <td>
                                    <input placeholder="비밀번호">
                                </td>
                            </tr>

                            <!-- 비밀번호 확인 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>비밀번호 확인</td>
                                <td>
                                    <input placeholder="비밀번호 확인">
                                </td>
                            </tr>

                            <!-- 닉네임 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>닉네임</td>
                                <td>
                                    <input placeholder="닉네임">
                                </td>
                            </tr>

                            <!-- 이메일 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>이메일</td>
                                <td>
                                    <input placeholder="이메일">
                                </td>
                            </tr>

                            <!-- 전화번호 -->
                            <tr>
                                <td>
                                    <span style="color: red;" class="required">*</span>전화번호</td>
                                <td>
                                    <input placeholder="연락처">
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="address-container">
                        <p> 주소</p>
                        <div class="signUp-input-area">
                            <input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode">                       
                        
                            <button type="button" onclick="sample6_execDaumPostcode()" id="searchAddress">검색</button>
                        </div>

                        <div class="signUp-input-area">
                            <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
                        </div>
                        
                        <div class="signUp-input-area">
                            <input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">
                        </div>
                    </div>

                    <button id="signUpBtn">가입</button>
                </div>
            </form>
        </section>
    </main>

    <!-- 주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }


                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("detailAddress").focus();
                }
            }).open();
        }
    </script>

    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>