<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seed.project.board.model.mapper.BoardMapper">

	
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
		FROM BOARD_TYPE
		ORDER BY BOARD_CODE
	</select>
	
	<!-- 게시글 수 조회 -->
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
	</select>
	
	<!-- 문의 게시판 게시글 조회 -->
	<select id="selectBoard2List">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, BOARD_WRITE_DATE, READ_COUNT,
		LIKE_COUNT,
			(SELECT COUNT(*) FROM
			"COMMENT" C WHERE BOARD_NO = B.BOARD_NO) COMMENT_COUNT
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = 2
		ORDER BY 1 DESC
	</select>
	
	
	<!-- 게시글 정보 가져오기 -->
	<select id="board2Detail">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEMBER_NICKNAME, BOARD_WRITE_DATE, BOARD_UPDATE_DATE,
		READ_COUNT, LIKE_COUNT
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="board2CommentList">
		SELECT MEMBER_NICKNAME, COMMENT_CONTENT, COMMENT_WRITE_DATE, MEMBER_NO, PARENT_COMMENT_NO 
		FROM "COMMENT"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>


</mapper>