<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="seed.project.board.model.mapper.BoardMapper">

	
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
		FROM BOARD_TYPE
		ORDER BY BOARD_CODE
	</select>
	
	<!-- 자유 게시판 게시글 수 조회 -->
	<select id="getListCount1">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
	</select>
	
	<!-- 문의 게시판 게시글 조회 -->
	<select id="selectBoard2List">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, BOARD_WRITE_DATE, READ_COUNT,
		LIKE_COUNT,
			(SELECT COUNT(*) FROM
			"COMMENT" C WHERE BOARD_NO = B.BOARD_NO) COMMENT_COUNT
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_CODE = 2
		ORDER BY 1 DESC
	</select>
	
	
	<!-- 게시글 정보 가져오기 -->
	<select id="board2Detail">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEMBER_NICKNAME, BOARD_WRITE_DATE, BOARD_UPDATE_DATE,
		READ_COUNT, LIKE_COUNT
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<select id="board2CommentList">
		SELECT MEMBER_NICKNAME, COMMENT_CONTENT, COMMENT_WRITE_DATE, MEMBER_NO, PARENT_COMMENT_NO 
		FROM "COMMENT"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>

	<!-- 자유게시판 검색조건이 맞는 게시글 수 조회 -->
	<select id="getSearchCount1">
    
	<!-- 팁과 노하우 게시글 목록 조회 -->
	<select id="selectBoard3">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT,
    
		    (SELECT COUNT(*)
		    FROM "COMMENT" C
		    WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
		    
		    (SELECT COUNT(*)
		    FROM "BOARD_LIKE" L
		    WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
	    
		    <![CDATA[
		    CASE
			    WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60
			    THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
			    
			    WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
			    THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
			    
			    WHEN SYSDATE - BOARD_WRITE_DATE < 1
			    THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
			    
			    ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			    
			END BOARD_WRITE_DATE
	    	]]>
    	  
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 팁과 노하우 검색 조건이 맞는 게시글 수 조회 -->
	<select id="getSearchCount3">
		SELECT COUNT(*)
		FROM "BOARD"
		
		<!-- 작성자 검색인 경우 -->
		<if test='key == "w"'>
			JOIN "MEMBER" USING(MEMBER_NO)
		</if>
		
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
		
		<choose>
			
			<!-- 제목검색 (key="t") -->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 내용검색 (key="c") -->
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
		
			<!-- 제목+내용 검색 (key="tc") -->
			<when test='key == "tc"'>
				AND (
				BOARD_TITLE LIKE '%' || #{query} || '%'
				OR
				BOARD_CONTENT LIKE '%' || #{query} || '%'
				)
			</when>
			
			<!-- 작성자검색 (key="w") -->
			<otherwise>
				AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</otherwise>
		</choose>
	</select>



	<!-- 자유 게시판 목록 조회 -->
	<select id="selectBoardList1">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT,
		
			<!-- 게시글 별 댓글 수 -->
			(SELECT COUNT(*)
			FROM "COMMENT" C
			WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
			
			<!-- 게시글 별 좋아요 수 -->
			(SELECT COUNT(*)
			FROM "BOARD_LIKE" L
			WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
			
			<![CDATA[
			CASE
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60 -- 1 (하루) / 24(시간) / 60(분)
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
				
			END BOARD_WRITE_DATE
			]]>
			
		<!-- BOARD테이블의 자유게시판(1)에서 삭제되지않고 게시글 내림차순 조회 -->
    
			<!-- 제목 검색 (key 값이 "t"인 경우)-->
			<when test='key=="t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 내용 검색 (key 값이 "c"인 경우)-->
			<when test='key=="c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 제목 + 내용 검색 (key 값이 "tc"인 경우)-->
			<when test='key=="tc"'>
				AND (
					BOARD_CONTENT LIKE '%' || #{query} || '%'
					OR
					BOARD_TITLE LIKE '%' || #{query} || '%'
					) 
			</when>
			
			<!-- 작성자 검색 (key 값이 "w"인 경우 -->
			<otherwise>
				AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</otherwise>
			
		</choose>
	</select>
	
	<select id="selectSearchList3">
			SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT,
    
		    (SELECT COUNT(*)
		    FROM "COMMENT" C
		    WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
		    
		    (SELECT COUNT(*)
		    FROM "BOARD_LIKE" L
		    WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
	    
		    <![CDATA[
		    CASE
			    WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60
			    THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
			    
			    WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
			    THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
			    
			    WHEN SYSDATE - BOARD_WRITE_DATE < 1
			    THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
			    
			    ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			    
			END BOARD_WRITE_DATE
	    	]]>
    	  
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
		ORDER BY BOARD_NO DESC
	</select>

	<!-- 자게시판 검색 결과 목록 조회 -->
	<select id="selectSearchList1">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT,
			(SELECT COUNT(*)
			FROM "COMMENT" C
			WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
			
			(SELECT COUNT(*)
			FROM "BOARD_LIKE" L
			WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
			
			<![CDATA[
			CASE
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60 -- 1 (하루) / 24(시간) / 60(분)
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
				
			END BOARD_WRITE_DATE
			]]>
			
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
		
		<choose>
   			<!-- 제목 검색 (key 값이 "t" 인 경우) -->
   			<when test='key == "t"'>
   				AND BOARD_TITLE LIKE '%' || #{query} || '%'
   			</when>
   			
   			<!-- 내용 검색 (key 값이 "c" 인 경우) -->
   			<when test='key == "c"'>
   				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
   			</when>
   			
   			<!-- 제목 +내용 검색 (key 값이 "tc" 인 경우) -->
   			<when test='key == "tc"'>
   				AND (
	
	   				BOARD_CONTENT LIKE '%' || #{query} || '%'
   					OR
   					BOARD_TITLE LIKE '%' || #{query} || '%'
   				)
   			</when>
   			
   			<!-- 작성자 검색 (key 값이 "w" 인 경우) -->
   			<otherwise>
   				AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
   			</otherwise>
   			
   		</choose>
		
		ORDER BY BOARD_NO DESC
	
	</select>








		
		<choose>
			<!-- 제목 검색 (key 값이 "t"인 경우)-->
			<when test='key=="t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 내용 검색 (key 값이 "c"인 경우)-->
			<when test='key=="c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 제목 + 내용 검색 (key 값이 "tc"인 경우)-->
			<when test='key=="tc"'>
				AND (
					BOARD_CONTENT LIKE '%' || #{query} || '%'
					OR
					BOARD_TITLE LIKE '%' || #{query} || '%'
					) 
			</when>
			
			<!-- 작성자 검색 (key 값이 "w"인 경우 -->
			<otherwise>
				AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</otherwise>
			
		</choose>
		
		ORDER BY BOARD_NO DESC
	</select>
</mapper>