<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>관리자 - 상품 추가</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/seed/menu.css">

</head>
<body>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    

    <main>

        <div class="menu">
            <div>
                <a href="#" class="seed">상품 등록</a>
                <a href="#" class="seed">상품 수정</a>
            </div>
            <div>
                <a href="#" class="seed">상품 삭제</a>
                <a class="seed"></a>
            </div>
        </div>
    </main>
    
    <th:block th:replace="~{common/images2}"></th:block>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>