<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>관리자 - 상품 추가</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/seed/menu.css">

</head>
<body>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    
    <main>

        <h1>가격 수정</h1>


        <div class="seedUpdate">
            <form class="seedUpdateForm">
                <p>상품 가격을 모를때 상품 이름을 입력하고 검색을 눌러주세요!</p>

                <div>
                    <span>상품 이름</span>
                    <input type="text" id="updateSeedName">

                    
                    <button type="button" id="seedSearchPrice">검색</button>
                    
                </div>

                <div class="seedPrice">
                    <div class="seedPriceDiv">
                        <span>가격 수정</span>
                        <input type="text" id="updateSeedPrice">

                        <button type="button" id="seedUpdatePrice">변경</button>
                    </div>
                </div>

            </form>

        </div>

    </main>
    
    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/seed/seed.js"></script>
</body>
</html>