<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

    <th:block th:replace="~{common/common}"></th:block>
    <th:block th:replace="~{common/common3}"></th:block>

    <link rel="stylesheet" href="/css/myPage/updatePw.css">

    

</head>
<body>

    <!-- 헤더 추가 -->
    <th:black th:replace="~{common/header}"></th:black>

    <main>
        <section class="section">
            <!-- 왼쪽 nav -->
            <div class="left-nav">
                <a href="/member/updateInfo">회원 정보 변경</a>
                <a href="/member/updatePw">비밀번호 변경</a>
                <a href="#">장바구니</a>
                <a href="#">주소록 관리</a>
                <a href="#">작성한 댓글</a>
            </div>

            <!-- 추가할 공간 -->
            <div class="blank">
                <span class="title">비밀번호 변경</span>
                <span class="content">새로운 비밀번호를 설정하려면 아래에 현재 비밀번호와 새 비밀번호를 입력해주세요.</span>
                <form action="#" class="change-form">
                    <table class="table">
                        <tr>
                            <td class="th">현재 비밀번호</td>
                            <td></td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                            <td class="th">새 비밀번호</td>
                            <td></td>
                            <td><input type="password"></td>
                        </tr>
                        <tr>
                            <td class="th">새 비밀번호 확인</td>
                            <td></td>
                            <td><input type="password"></td>
                        </tr>
                    </table>

                    <button class="change-btn">변경하기</button>
                </form>
            </div>
        </section>
    </main>

    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>
    
</body>
</html>