

.blank{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.basket > i{
    font-size: 200px;
    margin-bottom: 20px;
    color: #BFBFBF;
}

.basket > span{
    font-size: 20px;
    margin-bottom: 20px;
}


.basket > a{
    text-decoration: none;
    padding: 10px;
    background-color: #8AA6A3;
    border-radius: 5px;
    color: black;
    width: 85px;
    height: 40px;
    
    transition-duration: 0.3s;
}

.basket > a:hover{
    transition-duration: 0.3s;
    background-color: #127369;
    color: white;
}





#foot-div{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    width: 700px;
}

#foot-div > img{
    width: 100px;
    height: 100px;
}


























