<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 게시판</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/board2.css">
</head>
<body>

    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <div class="h1">
        <h1>문의 게시판</h1>
    </div>

    <table>
        <thead>
            <tr class="tr">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>좋아요</th>
                <th>댓글</th>
            </tr>
        </thead>
        

        <tbody>
            <!-- 게시글이 존재하지 않을 때 -->
            <th:block th:if="${#lists.isEmpty(boardList)}">
                <tr>
                    <th colspan="7">게시글이 존재하지 않습니다.</th>
                </tr>
            </th:block>     
            
            <!-- 게시글이 존재할 때 -->
            <th:block th:unless="${#lists.isEmpty(boardList)}" th:object="${pagination}">
                <tr th:each="board : ${boardList}" th:object="${board}" class="tr_line">
                    <td th:text="*{boardNo}">번호</td>
                    <td>
                       <a th:href="@{/board/2/detail(boardNo=*{boardNo}, cp=${cp})}" th:text="*{boardTitle}">제목</a>
                    </td>
                    <td th:text="*{memberNickname}">작성자</td>
                    <td th:text="*{boardWriteDate}">작성일</td>
                    <td th:text="*{readCount}">조회수</td>
                    <td th:text="*{likeCount}">좋아요</td>
                    <td th:text="*{commentCount}">댓글 수</td>
                </tr>
                
            </th:block>

        </tbody>
    </table>


    <!-- 페이징 -->
    <div class="paging" th:if="${pagination}">

        <div th:object="${pagination}">

            <!--------------- 처음 페이지 << --------------->
            <!-- 검색 기능 사용 X -->
            <th:block th:unless="${option}">
                <a th:href="@{/board/2(cp=1)}" class="i"><i class="fa-solid fa-angles-left"></i></a>
            </th:block>

            <!-- 검색 기능 사용 O -->
            <th:block th:if="${option}">
                <a th:href="@{/board/2(cp=1, option=${option}, keyWord=${keyWord})}" class="i"><i class="fa-solid fa-angles-left"></i></a>
            </th:block>

            <!--------------- 이전 페이지 < --------------->
            <!-- 검색 기능 사용 X -->
            <th:block th:unless="${option}">
                <a th:href="@{/board/2(cp=*{prevPage})}" class="i"><i class="fa-solid fa-angle-left"></i></a>
            </th:block>    

            <!-- 검색 기능 사용 O -->
            <th:block th:if="${option}">
                <a th:href="@{/board/2(cp=*{prevPage}, option=${option}, keyWord=${keyWord})}" class="i"><i class="fa-solid fa-angle-left"></i></a>
            </th:block>

            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
            
            
                <th:block th:if="${i} == *{currentPage}">
                    <a th:text="${i}" class="currentPage">현재 페이지</a>
                </th:block>

                <!-- 검색 기능 사용 X -->
                <th:block th:unless="${option}">
                    <th:block th:unless="${i} == *{currentPage}">
                        <a th:href="@{/board/2(cp=${i})}" th:text="${i}" class="otherPage">다른 페이지</a>
                    </th:block>
                </th:block>

                <!-- 검색 기능 사용 O -->
                <th:block th:if="${option}">
                    <th:block th:unless="${i} == *{currentPage}">
                        <a th:href="@{/board/2(cp=${i}, option=${option}, keyWord=${keyWord})}" th:text="${i}" class="otherPage">다른 페이지</a>
                    </th:block>
                </th:block>

            </th:block>

            
            <!--------------- 다음 페이지 > --------------->
            <!-- 검색 기능 사용 X -->
            <th:block th:unless="${option}">
                <a th:href="@{/board/2(cp=*{nextPage})}" class="i"><i class="fa-solid fa-angle-right"></i></a>
            </th:block>

            <!-- 검색 기능 사용 O -->
            <th:block th:if="${option}">
                <a th:href="@{/board/2(cp=*{nextPage}, option=${option}, keyWord=${keyWord})}" class="i"><i class="fa-solid fa-angle-right"></i></a>
            </th:block>


            <!--------------- 끝 페이지 >> --------------->
            <!-- 검색 기능 사용 X -->
            <th:block th:unless="${option}">
                <a th:href="@{/board/2(cp=*{maxPage})}" class="i"><i class="fa-solid fa-angles-right"></i></a>
            </th:block>
            
            <!-- 검색 기능 사용 O -->
            <th:block th:if="${option}">
                <a th:href="@{/board/2(cp=*{maxPage}, option=${option}, keyWord=${keyWord})}" class="i"><i class="fa-solid fa-angles-right"></i></a>
            </th:block>

        </div>

    </div>



    <form action="/board/2" method="GET" class="searchLine">
        <select id="option" name="option" class="searchFilter">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="sum">제목+내용</option>
            <option value="writer">작성자</option>
        </select>
        <input type="text" placeholder="검색어를 입력해주세요" id="keyWord" name="keyWord">
        <button id="search-btn">검색</button>
    </form>

    <th:block th:if="${session.loginMember}">
        <div class="w-div">
            <a href="/board/board2Write" class="write-btn">글쓰기</a>
        </div>
    </th:block>





    <!-- 푸터 추가 -->
    <!-- <th:block th:replace="~{common/images3}"></th:block> -->
    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/board/board2.js"></script>
</body>
</html>