<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>팁과 노하우</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/board3.css">
</head>
<body>
    <th:block th:replace="~{common/header}"></th:block>

    <main>
        <section>

            <div class="list-div">
                <th:block th:each="boardType : ${application.boardTypeList}">
                    <h1 class="board-name"
                        th:if="${boardType.boardCode} == ${boardCode}"
                        th:text="${boardType.boardName}"
                    >게시판 이름</h1>
                </th:block>

                <!-- 게시글 구역 -->
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>번호</th>
							<th>제목</th>
							<th>글쓴이</th>
							<th>작성일</th>
							<th>조회수</th>
							<th>좋아요</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- 게시글이 존재 X-->
                        <th:block th:if="${#lists.isEmpty(boardList)}">
							<tr>
								<td colspan="6">게시글이 존재하지 않습니다.</td>
                            </tr>
						</th:block>

                        <!-- 게시글 존재 O -->
                        <th:block th:unless="${#lists.isEmpty(boardList)}">
                            <tr th:each="board : ${boardList}" th:object="${board}">
                                <td th:text="*{boardNo}">게시글 번호</td>
                                <td id="boardTitle-main">
    
                                    <!-- 썸네일 나중에 넣어보기 -->
                                    <th:block th:if="*{thumbnail} != null">
                                        <a th:href="@{/board/{boardCode}/{boardNo} 
                                        (boardCode=${boardCode}, boardNo=*{boardNo})}"><img th:src="*{thumbnail}" onerror="this.style.display='none'" ></a>
                                    </th:block>

                                    <th:block th:if="*{thumbnail} == null">
                                        <a th:href="@{/board/{boardCode}/{boardNo} 
                                        (boardCode=${boardCode}, boardNo=*{boardNo})}">
                                            <img src="/images/no-thumbnail.jpg"></a>
                                    </th:block>
                                    <a 
                                    th:href="@{/board/{boardCode}/{boardNo} 
                                            (boardCode=${boardCode}, boardNo=*{boardNo})}"
                                    th:text="*{boardTitle}">게시글 제목</a>
                                    
                                    <th:block th:text="|[*{commentCount}]|">댓글 수</th:block>
                                </td>
    
                                <!-- 작성자 닉네임 -->
                                <td th:text="*{memberNickname}">닉네임</td>
    
                                <!-- 작성일 -->
                                <td th:text="*{boardWriteDate}">2024-05-07</td>
    
                                <!-- 조회수 -->
                                <td th:text="*{readCount}">0</td>
    
                                <!-- 좋아요 수 -->
                                <td th:text="*{likeCount}" style="color: #127369;">0</td>
                            </tr>
                        </th:block>

                    </tbody>
                </table>
            </div>

            <!-- 글쓰기, 검색 구역 -->
            <div class="write-search-area">
                <div class="search-area">
                    <form th:action="@{{boardCode}(boardCode=${boardCode})}" method="get" id="boardSearch">
                        <select name="key" id="searchKey">
                            <option value="t">제목</option>
                            <option value="c">내용</option>
                            <option value="tc">제목+내용</option>
                            <option value="w">글쓴이</option>
                        </select>
                        <label class="input-search" for="search-btn">
                            <input type="text" id="searchQuery" name="query" placeholder="검색어 입력">
                            <button id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </label>
                    </form>
                </div>
                <div class="write-area">
                    <button id="writeBtn" th:if="${session.loginMember}">글쓰기</button>
                </div>   
            </div>

            <!-- 페이지네이션 구역 -->
            <div class="pagination-area">
                <ul class="pagination" th:object="${pagination}" th:unless="${#lists.isEmpty(boardList)}">
                    <!-- <이전 버튼 -->
                    <th:block th:unless="${param.key}">
                        <li><a id="beforePageBtn" class="beforePage" th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{prevPage})}">&lt;&nbsp;이전</a></li>
                    </th:block>
                    <th:block th:if="${param.key}">
                        <li><a id="beforePageBtn" class="beforePage" th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{prevPage}, key=${param.key}, query=${param.query})}">&lt;&nbsp;이전</a></li>
                    </th:block>
                    
                    
                    <th:block><li><a th:if="*{currentPage} > 10 and !${param.key}" th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=1)}">1</a></li></th:block>

                    <th:block th:if="*{currentPage} > 10 and !${param.key}"><li><a id="pageMoveBtn1">...</a></li></th:block>
                    
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">						
                        
						<!-- 현재 보고 있는 페이지 -->
						<li th:if="${i} == *{currentPage}">
							<a class="current" th:text="${i}">현재페이지</a>
						</li>
	
						<!-- 보고있지 않은 페이지 -->
						<li th:unless="${i} == *{currentPage}">
							<th:block th:unless="${param.key}">
                                <a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i})}" 
							        th:text="${i}">이동할 페이지</a>
                            </th:block>
                            <th:block th:if="${param.key}">
                                <a th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i}, key=${param.key}, query=${param.query})}" 
							        th:text="${i}">이동할 페이지</a>
                            </th:block>
						</li>
						
					</th:block>
            
                    <th:block th:if="*{currentPage} lt *{maxPage}-9 and !${param.key}"><li><a id="pageMoveBtn2">...</a></li></th:block>
                
                    <!-- 다음> 버튼 -->
                    <th:block th:unless="${param.key}">
                        <li><a id="afterPageBtn" class="afterPage" th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{nextPage})}">다음&nbsp;&gt;</a></li>
                    </th:block>
                    <th:block th:if="${param.key}">
                        <li><a id="afterPageBtn" class="afterPage" th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{nextPage}, key=${param.key}, query=${param.query})}">다음&nbsp;&gt;</a></li>
                    </th:block>
                    
                </ul>
            </div>

            <!-- ... 버튼 클릭 시 -->
            <div class="popup-area">
                <div id="pagePopup1" class="popup-hidden1 page-input-area1">
                    <input id="inputPage1" type="number" name="page" class="inputPage" min="1">
                    <th:block><span id="pageText1" th:text="| / ${pagination.maxPage}|">마지막페이지</span></th:block>
                    <button type="button" id="inputPageBtn1">페이지</button>
                </div>

                <div id="pagePopup2" class="popup-hidden2 page-input-area2">
                    <input id="inputPage2" type="number" name="page" class="inputPage">
                    <th:block><span id="pageText2" th:text="| / ${pagination.maxPage}|">마지막페이지</span></th:block>
                    <button type="submit" id="inputPageBtn2">페이지</button>
                </div>
            </div>



        </section>
    </main>
    
    <th:block th:replace="~{common/footer}"></th:block>
    
    <script th:inline="javascript">
		const boardCode = /*[[${boardCode}]]*/ "게시판 코드 번호";
        const lastPage = /*[[${pagination.maxPage}]]*/ 1;
        const currentPage = /*[[${pagination.currentPage}]]*/ 1;
	</script>

    <script src="/js/board/board3.js"></script>
</body>
</html>