<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 게시판</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/board2.css">
</head>
<body>

    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <div class="h1">
        <h1>문의 게시판</h1>
    </div>


    <th:block th:object="${boardInfo}">
        <div class="board">
            <th:block th:if="${session.loginMember} and *{memberNo} == ${session.loginMember.memberNo}">
                <div class="write-menu">
                    <a th:href="@{/board/2/board2Update(boardNo=${boardInfo.boardNo})}" class="boardUpdate" id="boardUpdate">수정</a>
                    <button class="boardDelete" id="boardDelete">삭제</button>
                </div>
            </th:block>
            <div class="board-top">
                <div th:text="|*{boardNo}번|" class="boardNo">게시글 번호</div>
                <div th:text="*{boardTitle}" class="boardTitle">게시글 제목</div>
            </div>
            <div>
                <div class="board-middle">
                    <div th:text="*{memberNickname}" class="memberNickname">작성자</div>
                    <div th:text="|조회수 *{readCount} 회|" class="readCount">조회수</div>
                </div><div>
                    
                </div>
                <div class="like">
                    <div th:text="|like *{likeCount} 개|" class="likeCount">좋아요</div>
                </div>
                <div>
                    <div th:text="|작성일 : *{boardWriteDate}|" class="boardWriteDate">작성일</div>
                    <th:block th:if="*{boardUpdateDate}">
                        <div th:text="|수정일 : *{boardUpdateDate}|" class="boardUpdateDate">마지막 수정일</div>
                    </th:block>
                </div>
                <div>
                    
                    
                </div>
            </div>
            <div class="content">
                <div th:text="*{boardContent}" class="boardContent">게시글 내용</div>
            </div>
        </div>
    </th:block>

    <!-- 댓글 -->
    <div class="under" id="commentContainer">
        <th:block th:each="comment : ${commentList}" th:object="${comment}">
            <div class="comment">
                <div class="comment-top">
                    <div th:text="*{memberNickname}" class="memberNickname">댓글 작성자</div>
                    <div th:text="*{commentWriteDate}" class="commentWriteDate">댓글 작성일</div>
                    

                    <th:block th:if="${session.loginMember?.memberNo} == *{memberNo}">
                        <div class="UorD">
                            <input type="hidden" th:value="*{commentNo}" id="commentNo" class="commentNo">
                            <button th:onclick="|updateComment(*{commentNo})|" class="update">수정</button>
                            <button th:onclick="|deleteComment(*{commentNo})|" class="delete">삭제</button>
                        </div>
                    </th:block>
                </div>
                
                <div class="message" id="message">
                    <div th:text="*{commentContent}" class="comment-box" id="commentContent"></div>

                    <div class="text">
                        <div class="container2">
                            <textarea class="textarea" th:text="*{commentContent}" ></textarea>
                            <button class="updateBtn">수정</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </th:block>
    </div>

    <th:block th:if="${session.loginMember}">
        <form class="commentPlus">
            <div class="span">
                <span>댓글 쓰기</span>
            </div>
            <div class="span-under">
                <textarea cols="55" rows="5" style="resize: none;" id="comment-content"></textarea>
                <button type="button" id="comment-plus">등록</button>
            </div>
        </form>
    </th:block>


    


    <!-- 푸터 추가 -->
    <!-- <th:block th:replace="~{common/images3}"></th:block> -->
    <th:block th:replace="~{common/footer}"></th:block>

    

    <script th:inline="javascript">
        const boardNo = /*[[${boardInfo.boardNo}]]*/ "게시글 번호";
        const sessionMemberNo = /*[[${session.loginMember?.memberNo}]]*/  "회원 번호";
    </script>
    
    <script src="/js/board/board2Detail.js"></script>
</body>
</html>