#nav-bottom a:nth-child(2){
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: none;
}

.board-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 850px;
    margin: 0px auto;
}

/* 자유게시판 글씨, 글쓰기 버튼 공간 */
.board-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 자유게시판 글씨 위치 및 padding */
.board-name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    font-size: 2em;
}

#insertBtn-area {
    display: flex;
    align-self: flex-end;
}

/* 글쓰기 버튼 */
#insertBtn {
    width: 75px;
    height:40px;
    background-color: #127369;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
    /* align-self: flex-end; */
    justify-content: center;
    text-decoration-line: none;
}


/* 게시글 제목 */
.boardTitle{
    text-decoration: none;
    color: black;
}



.list-wrapper {
    height: auto;
    width: 100%;
}

/* 게시판 (thead, tbody 이 2가지만 해당,   paginagion, 검색창 포함 X) */
.table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse; /* 테이블 사이 공백 없애기 */
}

/* 게시판 머리 */
.table > thead {
    background-color: #127369;
    color: white;
}

/* 게시글 위아래 공백 */
.table tr {
    height: 50px;
}

/* 게시글 가로/세로 가운데 정렬 */
.table td {
    text-align: center; /* 가로 가운데 정렬 */
    vertical-align: middle; /* 세로 가운데 정렬 */
    
}




/* Pagination 가로로 정렬 */
.pagination {
    list-style: none; /* 리스트의 점 제거 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
}

/* Pagination 사이 공백 띄우기 */
.pagination > li {
    padding: 10px;
}

.pagination > li a {
cursor: pointer;
}


/* Pagination 밑줄 없애고 글자색 검정 */
.pagination a {
    text-decoration-line: none;
    color: black;
}


.current {
    font-size: 25px;
    font-weight: bold;
    color: red !important;
    border: none;
}




/* -------------------------  검색창  ------------------------ */

/* 검색창 공간 위쪽 공백 */
.boardSearch {
    padding-top: 20px;
}

/* 검색할 것 종류 (select태그) */
#searchKey {
    width: 100px;
    height: 40px;
    padding-left: 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}


/* 검색창 */
#searchQuery {
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

/* 검색창 검색 버튼 */
.boardSearch > button {
    width: 50px;
    height: 40px;
    background-color: #127369;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    transition-duration: 0.2s;
}

/* #nav-bottom a:nth-child(2){
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: none;
} */