<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <th:block th:replace="~{common/common}"></th:block>
    <th:block th:replace="~{common/common3}"></th:block>
    <link rel="stylesheet" href="/css/myPage/myPage.css">

    <link rel="stylesheet" href="/css/myPage/address.css">

</head>
<body>
    
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <main>
        <section class="section">
            <!-- 왼쪽 nav -->
            <div class="left-nav">
                <a href="/myPage/updateInfo">회원 정보 변경</a>
                <a href="/myPage/updatePw">비밀번호 변경</a>
                <a href="/myPage/basket">장바구니</a>
                <a href="/myPage/address">주소록 관리</a>
                <a href="/myPage/comment">작성한 댓글</a>
                <a href="/myPage/withdraw">회원 탈퇴</a>
            </div>

            <!-- 추가할 공간 -->
            <div class="blank">
                <button class="newAddressBtn">배송지 추가</button>
                
                

                <table class="address-table">

                    <!-- 주소지가 없을 때 -->
                    <th:block th:if="${#lists.isEmpty(addressList)}">
                        <tr>
                            <td colspan="6">현재 저장된 주소가 없습니다.</td>
                        </tr>
                    </th:block>


                    <!-- 주소지가 있을 때 -->
                    <th:block th:unless="${#lists.isEmpty(addressList)}">

                        <tr th:each="address : ${addressList}">

                            <td th:text="|${address['addressNo']}번 주소|"></td>
                            <td th:text="${address['postCode']}"></td>
                            <td th:text="${address['address']}"></td>
                            <td th:text="${address['detailAddress']}"></td>
                            
                        </tr>
                    </th:block>




                </table>


            </div>
        </section>


        <div id="addPopup" class="popup-hidden">
            <h4>주소지 추가</h4>
            <span id="popupClose">&times;</span>
            
            <input type="text" name="memberAddress" id="postCode" placeholder="우편번호">
            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" name="memberAddress" id="address" placeholder="주소"><br>
            <input type="text" name="memberAddress" id="detailAddress" placeholder="상세주소">
            <button id="addBtn">추가하기</button>
        </div>


    </main>

    <!-- address.js 에서 사용할 변수 설정 -->
    <script th:inline="javascript">
        
        const memberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인 회원 번호";
        
    </script>

   
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/myPage/address.js"></script>
  
    <th:block th:replace="~{common/images3}"></th:block>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>