<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>

    <th:block th:replace="~{common/common}"></th:block>
    <th:block th:replace="~{common/common3}"></th:block>

    <link rel="stylesheet" href="/css/myPage/basket.css">
    <link rel="icon" href="/images/씨앗.png">

    

</head>
<body>

    <!-- 헤더 추가 -->
    <th:black th:replace="~{common/header}"></th:black>

    <main>
        <section class="section">
            <!-- 왼쪽 nav -->
            <div class="left-nav">
                <a href="/myPage/updateInfo">회원 정보 변경</a>
                <a href="/myPage/updatePw">비밀번호 변경</a>
                <a href="/myPage/basket">장바구니</a>
                <a href="/myPage/address">주소록 관리</a>
                <a href="/myPage/comment">작성한 댓글</a>
                <a href="/myPage/withdraw">회원 탈퇴</a>
            </div>
            <!-- 추가할 공간 -->
            <div class="blankdiv">
                <div class="blank">
                    
                    <div class="basket" id="basket">
                        <!-- 장바구니가 비어있을 때 -->
                        <th:block th:unless="${cartList}">
                            <div class="basket2">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <span>장바구니가 비었습니다</span>
            
                                <div class="container2">
                                    <a href="/" class="button btnPush btnBlueGreen" id="cart">
                                        <i class="fa-solid fa-cart-shopping"></i> 장보기 
                                    </a>
                                </div>
                            </div>
                        </th:block>
                        

                        <!-- 장바구니가 비어있지 않을 때 -->
                        <th:block th:if="${cartList}">
                                <div id="cartList">
                                    <th:block th:each="cart : ${cartList}" th:object="${cart}">
                                        <div class="allBox">
                                            <div class="checkboxDiv">
                                                <input type="checkbox" class="checkbox" checked>
                                            </div>
                                            
                                            <div class="imgDiv">
                                                <a th:href="@{/seed/detail(seedNo=*{seedNo})}" class="imgA">
                                                    <img th:src="*{seedImgPath}" class="seedImg">
                                                </a>
                                            </div>
                                            <div class="seedinfo">
                                                <div class="seedleft">
                                                    <span th:text="*{seedName}" class="seedName">씨앗 이름</span>
                                                    <span th:text="*{seedPrice}" class="seedPrice">씨앗 가격</span>
                                                </div>
                                                <div class="span">
                                                    <button class="minusBtn"><i class="fa-solid fa-minus"></i></button>
                                                    <span th:text="*{count}" class="count">수량</span>
                                                    <button class="plusBtn"><i class="fa-solid fa-plus"></i></button>
                                                </div>
                                                
                                            </div>
                                            <span class="cross">&times;</span>
                                        </div>
                                    </th:block>
                                </div>

                        </th:block>

                    </div>
                    <div class="buyDiv">
                        <th:block th:if="${cartList}">
                            <div class="buy">
                                <div class="price">
                                    <span>결제 금액</span>
                                    <span id="money"></span>
                                </div>
                                <button id="payment">결제하기</button>
                            </div>
                        </th:block>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    


  
  <th:block th:replace="~{common/images3}"></th:block>
    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>

    
    <script th:inline="javascript">

        const memberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인한 회원 번호";

    </script>

    

    <script src="/js/myPage/basket.js"></script>

</body>
</html>