<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>

    <th:block th:replace="~{common/common}"></th:block>
    <th:block th:replace="~{common/common3}"></th:block>

    <link rel="stylesheet" href="/css/myPage/basket.css">

    

</head>
<body>

    <!-- 헤더 추가 -->
    <th:black th:replace="~{common/header}"></th:black>

    <main>
        <section class="section">
            <!-- 왼쪽 nav -->
            <div class="left-nav">
                <a href="/myPage/updateInfo">회원 정보 변경</a>
                <a href="/myPage/updatePw">비밀번호 변경</a>
                <a href="/myPage/basket">장바구니</a>
                <a href="/myPage/address">주소록 관리</a>
                <a href="/myPage/comment">작성한 댓글</a>
                <a href="/myPage/withdraw">회원 탈퇴</a>
            </div>
            <!-- 추가할 공간 -->
            <div class="blank">
                
                <div class="basket">
                    <!-- 장바구니가 비어있을 때 -->
                    <th:block th:unless="${cartList}">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <span>장바구니가 비었습니다</span>
    
                        <div class="container2">
                            <a href="/" class="button btnPush btnBlueGreen" id="cart"><i class="fa-solid fa-cart-shopping"></i> 장보기 </a>
                        </div>
                    </th:block>
                    

                    <!-- 장바구니가 비어있지 않을 때 -->
                    <th:block th:if="${cartList}">

                    

                    </th:block>



                </div>


                
            </div>
        </section>
    </main>
    


    <th:block th:replace="~{common/images3}"></th:block>
    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>


    
    <script src="/js/member/myPage/myPage.js"></script>

</body>
</html>