<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성한 댓글 보기</title>

    <th:block th:replace="~{common/common}"></th:block>
    <th:block th:replace="~{common/common3}"></th:block>

    <link rel="stylesheet" href="/css/myPage/comment.css">
    <link rel="icon" href="/images/씨앗.png">

    

</head>
<body>

    <!-- 헤더 추가 -->
    <th:black th:replace="~{common/header}"></th:black>

    <main>
        <section class="section">
            <!-- 왼쪽 nav -->
            <div class="left-nav">
                <a href="/myPage/updateInfo">회원 정보 변경</a>
                <a href="/myPage/updatePw">비밀번호 변경</a>
                <a href="/myPage/basket">장바구니</a>
                <a href="/myPage/address">주소록 관리</a>
                <a href="/myPage/comment">작성한 댓글</a>
                <a href="/myPage/withdraw">회원 탈퇴</a>
            </div>
            <!-- 추가할 공간 -->
            <div class="main-area">
                <div class="blank">
                    <div class="comment">

                        <!-- 작성한 댓글이 없을 때 -->
                        <th:block th:if="${#lists.isEmpty(commentList)}" >
                            <i class="fa-solid fa-comment-slash"></i>
                            <span>작성한 댓글이 없습니다</span>
                        </th:block>
                        

                        
                        
                        <!-- 작성한 댓글이 있을 때 -->
                        <th:block th:unless="${#lists.isEmpty(commentList)}" >
                            
                            <h1 style="font-size: 20px;" th:text="|${loginMember.memberNickname}님께서 작성한 댓글|"></h1><br>
                            
                            <table class="commentList-table">
                                <thead>
                                    <tr>
                                        <th>게시판 이름</th>
                                        <th>댓글 내용</th>
                                        <th>댓글 작성자</th>
                                        <th>댓글 작성일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="comment : ${commentList}" th:object="${comment}">
                                        

                                        <td>
                                            <th:block th:each="boardType : ${application.boardTypeList}">
                                                <a th:if="${boardType.boardCode} == *{boardCode}"
                                                th:text="${boardType.boardName}">게시글 번호</a>
                                            </th:block>
                                        </td>
                                        
                                        <td id="commentContent-area">
                                            <a><i class="fa-regular fa-message fa fa-flip-horizontal "></i></a>
                                            <a th:if="*{boardCode} == 2"
                                            th:href="@{/board/{boardCode}/detail?boardNo={boardNo}(boardCode=*{boardCode}, boardNo=*{boardNo})}" 
                                            th:text="*{commentContent}">댓글 내용</a>

                                            <a th:if="*{boardCode} != 2"
                                            th:href="@{/board/{boardCode}/{boardNo}(boardCode=*{boardCode}, boardNo=*{boardNo})}" 
                                            th:text="*{commentContent}">댓글 내용</a>
                                        </td>
                                        <td th:text="*{memberNickname}">댓글 작성자</td>
                                        <td th:text="*{commentWriteDate}">댓글 작성일</td>
                                    </tr>
                                </tbody>
                            </table>
                        </th:block>
                    </div>
                </div>

                <!-- 페이지 네이션 -->
                <div class="pagination-area">
                    <ul class="pagination" th:object="${pagination}" th:unless="${#lists.isEmpty(commentList)}">
                        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                            
                            <!-- 현재 보고 있는 페이지 -->
                            <li th:if="${i} == *{currentPage}">
                                <a class="current" th:text="${i}">현재페이지</a>
                            </li>
        
                            <!-- 보고있지 않은 페이지 -->
                            <li th:unless="${i} == *{currentPage}">
                                <a th:href="@{/myPage/comment(cp=${i})}"
                                    th:text="${i}">이동할 페이지</a>
                            </li>


                        </th:block>	
                    </ul>
                </div>
            </div>
        </section>
    </main>


    <th:block th:replace="~{common/images3}"></th:block>
    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>

    <script th:inline="javascript">
		const boardCode = /*[[${boardCode}]]*/ "게시판 코드 번호";
	</script>

    
    <script src="/js/myPage/myPage.js"></script>

</body>
</html>