<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/myPage/myPage.css">

</head>
<body>
    
  
    <th:block th:replace="~{common/header}"></th:block>

    <main>
        <section class="section">
            
            <div class="left-nav">
                <a href="/myPage/updateInfo">회원 정보 변경</a>
                <a href="/myPage/updatePw">비밀번호 변경</a>
                <a href="#">장바구니</a>
                <a href="#">주소록 관리</a>
                <a href="#">작성한 댓글</a>
                <a href="/myPage/withdraw">회원 탈퇴</a>
            </div>

         
            <div class="blank"></div>
        </section>
    </main>

   
    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html> -->