<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>

    <th:block th:replace="~{common/common}"></th:block>
    <th:block th:replace="~{common/common3}"></th:block>

    <link rel="stylesheet" href="/css/myPage/withdraw.css">

    

</head>
<body>

    <!-- 헤더 추가 -->
    <th:black th:replace="~{common/header}"></th:black>

    <main>
        <section class="section">
            <!-- 왼쪽 nav -->
            <div class="left-nav">
                <a href="/myPage/updateInfo">회원 정보 변경</a>
                <a href="/myPage/updatePw">비밀번호 변경</a>
                <a href="/myPage/basket">장바구니</a>
                <a href="/myPage/address">주소록 관리</a>
                <a href="/myPage/comment">작성한 댓글</a>
                <a href="/myPage/withdraw">회원 탈퇴</a>
            </div>

            <!-- 추가할 공간 -->
            <div class="blank">
                <div class="blank_in">
                    <div class="title">회원 탈퇴</div>

                    <div class="content">회원 탈퇴를 신청하기 전, 다음 내용을 꼭 확인해주세요.</div>

                    <div class="img_box">
                        <img src="/images/씨앗.png">
                        <div class="img_box_right">
                            <span>언더 더 씨 회원탈퇴</span>
                            <span>탈퇴 후에는 모든 작업 정보가 삭제되니 신중하게 결정해주세요!</span>
                        </div>

                    </div>

                    <div class="list">
                        <ul>
                            <li>고객 정보 및 개인형 서비스 이용 기록은 개인 정보보호 처리 방침 기준에 따라 삭제됩니다.</li>
                            <li>회원 탈퇴 시 더 이상 언더 더 씨 서비스 사용이 불가능합니다.</li>
                            <li>탈퇴가 완료되면 개인정보는 즉시 파기되며, 복구가 불가능합니다.</li>
                        </ul>
                    </div>
                    <div class="btn_div">
                        <button>탈퇴하기</button>
                    </div>
                    
                   
                </div>
            </div>
        </section>
    </main>

    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>


    <script src="/js/member/myPage/myPage.js"></script>

</body>
</html>