/* -------- 로그인 시작 --------- */

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.content-login {
    display: flex;
    align-items: center;
    width: 60%;
    flex-direction: column;
}



.memberId, .memberPw {
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    
}

.memberId {
    margin-bottom: 15px;
}

.memberPw {
    margin-bottom: 30px;
}

.loginBtn {
    
}


/* -------- 로그인 끝 --------- */