body > div:first-child{
    display: flex;
    justify-content: center;
    margin: 30px;
}



/* 로고 + 브랜드 이름 */
.logo-line{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 75px;
}

.logo-line > img{
    width: 100px;
    height: 100px;
}


.logo-line > span{
    font-size: 45px;
    margin-left: 30px;
}


/* 아이디 찾기 span + 아이디 찾기 폼 */
.find-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/* 아이디 찾기 span */
.find-id{
    font-size: 35px;
    background-color: #8AA6A3;
    width: 240px;
    margin-top: 20px;
}

/* 아이디 찾기 폼 */
.search-id-form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.table{
    width: 300px;
}