/* *{
    border: 1px solid black;
} */



.main{
    height: 415px;
}

body > div:first-child{
    display: flex;
    justify-content: center;
    /* margin: 30px; */
}



/* 로고 + 브랜드 이름 */
.logo-line{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.logo-line > a{
    line-height: 75px;
    height: 90px;
}

.logo-line  img{
    width: 100px;
    height: 100px;
}


.logo-line  span{
    font-size: 45px;
    margin-left: 30px;
}


/* 아이디 찾기 span + 아이디 찾기 폼 */
.find-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 330px;
}



/* 아이디 찾기 span */
.find-id{
    font-size: 35px;
    background-color: #8AA6A3;
    width: 280px;
    margin-top: 20px;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}

/* 아이디 찾기 폼 */
.search-id-form{
    width: 560px;
}

/* 이메일 입력, 닉네임 입력 span */
.email-span, .nickname-span{
    font-size: 20px;
    margin-right: 10px;
}

/* 이메일 div, 닉네임 div */
.email-div, .nickname-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    
    
}

/* 이메일 input, 닉네임 input 공통 */
.email-input, .nickname-input{
    width: 360px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    font-size: 20px;
    padding-left: 15px;
}



/* 닉네임 input */
.nickname-input{
    width: 250px;
    margin-right: 30px;
}

/* 확인 버튼 */
.nickname-btn{
    width: 80px;
    font-size: 20px;
    height: 50px;
    border: none;
    background-color: #4C5958;
    color: white;
    border-radius: 5px;
}

